{% extends 'base.html' %}
{%block content%}
{%load static%}
    <section class="hero-about">
      <!-- making slides -->
      <h1>OVERVIEW</h1>
      <div class="history ">
        <h4>HISTORY</h4>
        <p class="lead">
          TnC Telecommunication was established on 19 september 2021 during the
          covid-19 era. With all the great difficulties the company had to
          overcome challenges which were faced during this era .Online meetigs
          are nit efficient for start uo company. Whereever TnC
          telecommunications stands right now is due to hard work which was
          brought about during this era
        </p>
      </div>
      <div class="mission">
        <h4>VISION AND MISSION</h4>
        <p class="lead">
          Our goal is to put as much as effort as we could for our company to be
          recognised not only in zimbabwe but Globally. Our aim also lies within
          our custoers happiness. We are on a quest to efficiently provide
          realible telecommunications and electronics goods and services.
        </p>
      </div>
      <div class="core-values">
        <h4>CORE VALUES</h4>
        <h5>Reliability</h5>
        <p class="lead">
          Making sure customers gets whatever they have requested without having
          to undergo losess
        </p>
        <h5>Efficiency</h5>
        <p class="lead">Providing our goods and services on time to our customers</p>
        <h5>Competance</h5>
        <p class="lead">
          Use of our skills to offer quality goods and services
        </p>
      </div>
      </div>
      
      <div class="board">
        <h4>BOARD MANAGMENT</h4>
          <div class="container text-start   services">
            <div class="row  g-5">
              <div class="col-4">
                <img src="../imagies/TK.jpg" class="pic img-fluid" alt="">
                <div class="p-4 border  shadow bg-light">
                  <div class="txt">
                    <h4>Takudzwa P Katyora</h4>
                    <p>
                      Core Founder 
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <img src="../imagies/carey.jpg" class="img-fluid" alt="">
                <div class="p-4 border shadow bg-light">
                  <div class="txt">
                    <h4>Carey C Mukozora</h4>
                    <p>
                     Core Founder
                    </p>
                  
                  </div>
                </div>
              </div>
              <div class="col-4">
                <img src="../imagies/gracious.jpg" class=" pic img-fluid" alt="">
                <div class="p-4 border shadow bg-light">
                  
                  <div class="txt">
                   
                    <h4>Gracious R Sakarombe</h4>
                    <p>
                      Optic Fibre Enginner
                    </p>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="container text-start   services">
            <div class="row  g-5">
              <div class="col-4">
                <img src="../imagies/TK.jpg" class="pic img-fluid" alt="">
                <div class="p-4 border  shadow bg-light">
                  <div class="txt">
                    <h4>Takudzwa P Katyora</h4>
                    <p>
                      Core Founder 
                    </p>
                  </div>
                </div>
              </div>
          </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
  {% endblock%}
 