
{% extends 'base.html' %}
{%load static%}
<body>
  <section>
    <div class="blog-hero">
       <h1 class="header">Web Development</h1>
       <div class="disc lead">
        <p >Web development is the work involved in developing a
          website for the Internet (World Wide Web) or an intranet (a private network) which can  
          range from developing a simple single static page of
          plain text to complex web applications and social 
           network services such as facebook. </p>
           <p >Web development is categorized into 3 types
             <ol>
               <li>FrontEnd Development</li>
               <li>BackEnd Development</li>
               <li>FullStack Development</li>
             </ol>
           </p>
       </div>
      
       <div class="frontend">
        <h2 class="header">FrontEnd Development</h2>
        
        <p class="lead">FrontEnd Development is development of the client side (graphical user interface) which the user can view and interact with ,it is also called the static website.The client side is developled by FrontEnd Developers with the help of 3  main technologies which are
            <ol>
              <li>HTML</li>
              <li>CSS</li>
              <li>JAVASCRIPT</li>
            </ol>
        </p>


       </div>
       <div class="BackEnd">
        <h2 class="header">BackEnd Development</h2>
        
        <p class="lead">BackEnd Development is development of the server side.Websites with backend  are called the dynamic website.Backedn Developers  focuses on the backend software which interacts with the frontend, handles HttpRequest , working with databases ,servers and API(Applications Programming Interface).There are many programing Languagues for BackEnd Development such as
            <ol class="lead">
              <li>Python</li>
              <li>C# </li>
              <li>JAVASCRIPT</li>
              <li>Php</li>
              <li>Java </li>
              <li>...</li>

            </ol>
             <br>
            <H2 class="header">BackEnd Frameworks</H2>
            <p class="lead">There are Framewroks and Libraries used in diffrent programming Languagues in The BackEnd.Below is a list of Framewrok used with the Programming Languague
              <ol class="lead">
                <li>Python (Flask ,Django)</li>
                <li>C# (ASP.NET CORE)</li>
                <li>JAVASCRIPT (Express.js</li>
                <li>Php(Laravel)</li>
                <li>Java (Hibernate)</li>

              </ol>
            </p>
        </p>

       </div>
       <div class="full">
        <h2 class="header">FullStack Development</h2>
        <p class="lead">Fullstack Development invloves developmentof both frontend and Backend </p>
       </div>
      
    </div>
   
</section>
<script src="../JS/blog.js"></script>
</body>
        
    