{% extends 'base.html' %}
{%block content%}
{%load static%}
    <body>
      <section>
        <div class="service-hero">
          <div class="container text-start  ">
              <h3 class=" p-4 text-start">Available Services</h3>
              <div class="row  g-5">
                <div class="col-4">
                  <img src="../imagies/WEB.jpeg" class="pic img-fluid" alt="">
                  <div class="p-4 border  shadow bg-light">
                    <div class="txt">
                      <h2>Web Development </h2>
                      <p>
                        We can Design your front end websites(staic) maintain the frontend
                        websites
                      </p class>
                      <br />
                     <button type="button" class="btn btn-secondary home button">Services</button>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../imagies/PRODUCTS.png" class="img-fluid" alt="">
                  <div class="p-4 border shadow bg-light">
                    <div class="txt">
                      <h2>Service</h2>
                      <p>
                        We can Design your front end websites(staic) maintain the frontend
                        websites
                      </p>
                    
                      <br />
                      <button type="button" class="btn btn-secondary home button"> Products</button>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../imagies/PROJECT-G.jpeg" class=" pic img-fluid" alt="">
                  <div class="p-4 border shadow bg-light">
                    
                    <div class="txt">
                     
                      <h2>Service</h2>
                      <p>
                        We can Design your front end websites(staic) maintain the frontend
                        websites
                      </p>
                      
                      <br />
                      <button type="button" class="btn btn-secondary button home">More info</button>
                  </div>
                </div>
              </div>
            </div>
         
        </div>
          <div class="container text-start  ">
              <h3 class=" p-4 text-start">Comming Services</h3>
              <div class="row  g-5">
                <div class="col-4">
                  <img src="../imagies/WEB.jpeg" class="pic img-fluid" alt="">
                  <div class="p-4 border  shadow bg-light">
                    <div class="txt">
                      <h2>Web Development </h2>
                      <p>
                        We can Design your front end websites(staic) maintain the frontend
                        websites
                      </p class>
                      <br />
                     <button type="button" class="btn btn-secondary home button">Buy</button>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../imagies/PRODUCTS.png" class="img-fluid" alt="">
                  <div class="p-4 border shadow bg-light">
                    <div class="txt">
                      <h2>Products</h2>
                      <p>
                        We can Design your front end websites(staic) maintain the frontend
                        websites
                      </p>
                    
                      <br />
                      <button type="button" class="btn btn-secondary home button">Buy</button>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../imagies/PROJECT-G.jpeg" class=" pic img-fluid" alt="">
                  <div class="p-4 border shadow bg-light">
                    
                    <div class="txt">
                     
                      <h2>Project Guides</h2>
                      <p>
                        We can Design your front end websites(staic) maintain the frontend
                        websites
                      </p>
                      
                      <br />
                      <button type="button" class="btn btn-secondary button home">Buy</button>
                  </div>
                </div>
              </div>
            </div>
         
        </div>
          <div class="container text-start  ">
              <h3 class=" p-4 text-start">On Going Services</h3>
              <div class="row  g-5">
                <div class="col-4">
                  <img src="../imagies/WEB.jpeg" class="pic img-fluid" alt="">
                  <div class="p-4 border  shadow bg-light">
                    <div class="txt">
                      <h2>Web Development </h2>
                      <p>
                        We can Design your front end websites(staic) maintain the frontend
                        websites
                      </p class>
                      <br />
                     <button type="button" class="btn btn-secondary home button">Buy</button>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../imagies/PRODUCTS.png" class="img-fluid" alt="">
                  <div class="p-4 border shadow bg-light">
                    <div class="txt">
                      <h2>Products</h2>
                      <p>
                        We can Design your front end websites(staic) maintain the frontend
                        websites
                      </p>
                      
                      <br />
                      <button type="button" class="btn btn-secondary home button"> Buy</button>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../imagies/PROJECT-G.jpeg" class=" pic img-fluid" alt="">
                  <div class="p-4 border shadow bg-light">
                    
                    <div class="txt">
                     
                      <h2>Project Guides</h2>
                      <p>
                        We can Design your front end websites(staic) maintain the frontend
                        websites
                      </p>
                      
                      <br />
                      <button type="button" class="btn btn-secondary button home">Buy</button>
                  </div>
                </div>
              </div>
            </div>
         
        </div>
      </section>
      
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    </body>
  {%endblock%}